<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <%= link_to "Users", users_path, :class => 'nav-link' %>
          <%= link_to "Categories", groups_path, :class => 'nav-link' %>
          <% if user_signed_in? %>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }, :class => 'nav-link btn' %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %>
            <%= link_to "Log in", new_user_session_path, :class => 'nav-link' %>
          <% end %>
        </ul>
      </div>
    </div>
    <div>
      <h3 class="logo">BudgetOnRails</h3>
    </div>
  </nav>
</header>